<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品一覧</title>
</head>
<body>
    <h1>商品一覧</h1>
    <table border="1">
        <thead>
            <tr>
                <th>商品名</th>
                <th>価格</th>
            </tr>
        </thead>
        {% for product in object_list %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} 円</td>
        </tr>
        {% endfor %}
    </table>

      {# ページの表示 #}
      {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>
  
      {# 前へ #}
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; 先頭</a>
      <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
      {% endif %}
  
      {# 次へ #}
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">次へ</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
      {% endif %}
</body>
</html>

</body>
</html>
